#spinner {
    display: none;
}
body{
    background-color: #F8F9F9 ;
}
.search-cart{
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 10px 15px rgba(136, 136, 136, 0.603);
}
.detail-cart{
    border: none;
    padding: 5px 20px;
    border-radius: 15px;
    box-shadow: 5px 10px 15px rgba(136, 136, 136, 0.603);
} 